[2018-10-16 13:37] menschikov opened #48 "MainPage: In the Press"
The In the press section allows only 4 quotes http://joxi.ru/4Ak7qlLTyGknJA
If we have 5, the last one goes out of container to the right
A carousel may work

[2018-10-24 08:31] kvbik opened #54 "typo eReMax to eRevMax"
it is in the scheduled [1] for tomorrow, so we have a bit of time, people will start looking at it>

[1] https://windingtree.com/hacktravel

`eReMax` -> `eRevMax`

[2018-10-24 11:41] JirkaChadima commented on #54
Cc @menschikov

[2018-10-24 15:17] menschikov commented on #54
Fixed

[2018-10-24 15:17] menschikov commented on #54
Guys, that is fixed

ср, 24 окт. 2018 г., 5:41 Jiří Chadima <notifications@github.com>:

[2018-10-24 22:38] #54 closed

[2018-11-20 10:49] MatiasOS opened #65 "Setup router"
**Is your feature request related to a problem? Please describe.**
We need to setup a router for the different views that will exist in homepage.

**Describe the solution you'd like**
We need a working router component.

**Describe alternatives you've considered**
We can use any existent router.

**Additional context**

[2018-11-20 10:51] MatiasOS opened #66 "FoundationPage build"
**Is your feature request related to a problem? Please describe.**
We need to migrate this page to react.

**Describe the solution you'd like**
Foundation page in react.

Order of sections:
1. **Top menu** - requires #144

2. **Hero Banner** - requires #145
Content in JSON
No buttons (empty content)

3. **Intro section**
use current.

4. **Cards block**
as is

5. **Team & Advisors** - requires #14

[2018-11-20 11:02] MatiasOS opened #67 "Líf token view"
**Is your feature request related to a problem? Please describe.**
We need to migrate this page to react.

**Describe the solution you'd like**
Líf token page in react.

**Describe alternatives you've considered**

**Additional context**
live: https://windingtree.com/lif-token.html

[2018-11-20 11:06] MatiasOS opened #68 "CommunityPage build"
Is your feature request related to a problem? Please describe.
We need to migrate this page to react.

Describe the solution you'd like
Community token page in react.

Order of sections:
1. **Top menu** - requires #144

2. **Hero Banner** - requires #145
 !important we will have banner with primary button "Join Now"!
social icons not needed here

3. **Max' quote** - requires #95
Content from JSON

[2018-11-20 11:26] MatiasOS opened #69 "Events view"
** Is your feature request related to a problem? Please describe. **
We need to migrate this page to react.

** Describe the solution you'd like **
Events page in react.

** Describe alternatives you've considered **

** Additional context **
live: https://windingtree.com/winding-tree-hackathon-prague-2018

[2018-11-20 11:36] MatiasOS opened #70 "Suppliers view"
**Is your feature request related to a problem? Please describe.**
We need to migrate this page to react.

**Describe the solution you'd like**
Suppliers page in react.

**Describe alternatives you've considered**

**Additional context**
live: https://windingtree.com/suppliers.html

[2018-11-20 11:38] MatiasOS opened #71 "SellersPage build"
**Is your feature request related to a problem? Please describe.**
We need to migrate this page to react.

**Describe the solution you'd like**
Sellers page in react.

Order of sections:
1. **Top menu** - requires #144

2. **Hero Banner** - requires #145
Primary button: Join Platform
Secondary button: Watch Video

3. **Key benefits** - requires #91
Content can be found here https://docs.google.com

[2018-11-20 11:42] MatiasOS opened #72 "VendorsPage build"
**Is your feature request related to a problem? Please describe.**
We need to migrate this page to react.

Order of sections:
1. **Top menu** - requires #144

2. **Hero Banner** - requires #145
Content in JSON
Primary button: get on board
Secondary: Watch Video

3. **Intro section**
use current.
Make 2 buttons instead current one:
Primary button: Apply integration
Secondary: Check docs

4. **Cards

[2018-11-21 08:10] menschikov opened #73 "New illustration for main page"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
We need new good looking illustration for main page

**Describe alternatives you've considered**
-

**Additional context**
We decided to outsource it to illustrator

[2018-11-21 08:13] menschikov opened #74 "New "How it works" diagram"
**Is your feature request related to a problem? Please describe.**
current diagram doesn't show WT idea clearly, not responsive on mobiles

**Describe the solution you'd like**
New diagram basing on discussed concept

**Describe alternatives you've considered**
-

**Additional context**
discussed with illustrator

[2018-11-21 08:16] menschikov opened #75 "New Roadmap"
**Is your feature request related to a problem? Please describe.**
Current roadmap is oblsolete

**Describe the solution you'd like**
need to design and develop new roadmap basing on concept we created

**Describe alternatives you've considered**
leave current layout and will with updated data - temp solution

**Additional context**
https://app.asana.com/0/674097173790718/739430633135490

[2018-11-21 14:07] MatiasOS opened #76 "MainPage build"
**Is your feature request related to a problem? Please describe.**
We need to migrate this page to react.

**Describe the solution you'd like**
see current page.

Order of elements:
1. **Top menu** - requires #144

2. **Hero Banner** - requires #97 + requires #99
_Primary button:_ Get on Board -> scroll to cards section below (anchor #onboard)
_Secondary button:_ Watch Video
Content for cards can

[2018-11-21 14:25] MatiasOS opened #77 "AllPages: Ready to use Winding Tree banner"
**Is your feature request related to a problem? Please describe.**
Ready to use Winding Tree is used next to the footer in every page. The best approach is have this in only one place.

**Describe the solution you'd like**
I like to have the component only one time and use it when is required

**Describe alternatives you've considered**
Component must be outside the feature.

**Additional context*

[2018-11-21 16:28] MatiasOS opened #78 "How it Work Banner"
**Is your feature request related to a problem? Please describe.**
This banner is used in Suppliers, Sellers and Software vendros pages. It will be easy to have this code only one time.

**Describe the solution you'd like**
Have this component alone in a common section

**Describe alternatives you've considered**

**Additional context**
![how-it-works](https://user-images.githubusercontent.com/548

[2018-11-21 19:53] #65 closed

[2018-11-21 23:31] beogip commented on #77
@MatiasOS I'll take this issue. Please assign me to it

[2018-11-22 10:53] menschikov opened #80 "Develop "Month recap" - new component for homepage"
develop new component for homepage: Ecosystem progress and include it on community page under hero https://sketch.cloud/s/m89WL/Ome9Wy4

[2018-11-22 12:03] menschikov opened #81 "Change margins"
Nico, I suggest to change paddings for such blocks on homepage, looks much better http://joxi.ru/5mdOqB1TkgJXgr on the screenshot I added +80px to left and right

[2018-11-22 12:09] menschikov opened #82 "redesign block"
this block need to be redesigned

[2018-11-25 19:46] beogip opened #83 "Create Card for winding tree banner"
**Is your feature request related to a problem? Please describe.**
In issue #77 we need to create a view with several cards. We should avoid repeating code

**Describe the solution you'd like**
I suggest creating a component that receives an image, a text, and a link to avoid repeating code

**Additional context**
<img width="246" alt="screen shot 2018-11-25 at 16 42 12" src="https://user-images.g

[2018-11-25 19:46] beogip commented on #83
@MatiasOS and @PabloAlice I'll take this issue

[2018-11-26 10:06] MatiasOS opened #85 "Contributors"
**Is your feature request related to a problem? Please describe.**
We need a component that show contributors of one or more GitHub repositories.

**Describe the solution you'd like**
We need a component that receives a list of github repositories and show all the contributors.

**Describe alternatives you've considered**

**Additional context**
![contributors](https://user-images.githubuserconten

[2018-11-26 14:30] MatiasOS opened #86 "Subscribe form"
**Is your feature request related to a problem? Please describe.**
We need a subscription form to use in our sites.

**Describe the solution you'd like**
I'd like to have a subscription form, that receive an url where to send a post message to subscribe a new email to a mailing list.

**Describe alternatives you've considered**
We can have subscribe functionality within the component or just recei

[2018-11-26 14:46] MatiasOS opened #87 "Join"
**Is your feature request related to a problem? Please describe.**
We need a join section to use in our sites.

**Describe the solution you'd like**
A component that handle the subscription form and functionality.

**Describe alternatives you've considered**
It can have a default behavior for the current subscription functionality and receives a function to override it.

**Additional context**
![j

[2018-11-27 03:07] menschikov commented on #83
@skkr we will need some components redesigned in Decemenber, I will create task for each component. But I see this card is in production already. We need another type of card to use for the same reasons
![image](https://user-images.githubusercontent.com/4557491/49055980-7d98ba00-f21b-11e8-9fdd-0f5ea3be08f4.png)

[2018-11-27 03:10] menschikov commented on #83
just to let you guys know. @skkr maybe it worth to make UI quickly so @beogip will use it for new card type?

BTW: I want to keep both cards in library! Current card will be still used in pre-footer
![image](https://user-images.githubusercontent.com/4557491/49056078-df592400-f21b-11e8-80bd-c2ec0354b9b4.png)

[2018-11-27 03:16] menschikov commented on #78
the illustration will be replaced, illustrator is working on it. I still don't know how it will looks like and what will be mobile view. Maybe it worth to put it on hold until we have new illustration?

[2018-11-27 03:40] menschikov commented on #48
Desktop version - we have to make sure whote section fits one pc screen
![image](https://user-images.githubusercontent.com/4557491/49057072-e71ac780-f21f-11e8-8510-b612547aee22.png)

mobile
![image](https://user-images.githubusercontent.com/4557491/49057090-f863d400-f21f-11e8-95c0-9f4b94decab4.png)

[2018-11-27 03:43] menschikov commented on #83
btw, mobile view of upper hero card will stay a now

[2018-11-27 03:46] #82 closed

[2018-11-27 03:49] menschikov commented on #77
@beogip @MatiasOS if this issue is in development move to that column please

[2018-11-27 03:59] menschikov opened #88 "MainPage, Sellers, Suppliers, Vendors, Community Page: Use case description (Partners) component"
**Is your feature request related to a problem? Please describe.**
we need this section to be redesigned to be more attractive
![image](https://user-images.githubusercontent.com/4557491/49057537-dcf9c880-f221-11e8-8356-c2705c24ce75.png)

**Describe the solution you'd like**
A carousel with one use case per view
![image](https://user-images.githubusercontent.com/4557491/49069905-44c50900-f24c-11e8-

[2018-11-27 04:11] menschikov opened #89 "MainPage, CommunityPage: community banner"
Same component as #93

**Is your feature request related to a problem? Please describe.**
Functionality of this banner should be exptended
![image](https://user-images.githubusercontent.com/4557491/49057885-6362da00-f223-11e8-9989-ccbf0abad246.png)

**Describe the solution you'd like**
**Content should be stored in JSON: title, description, button label, mdi icon name
Block of social icons is opti

[2018-11-27 04:17] menschikov commented on #88
I would also add some background with rounded corners to the block
![image](https://user-images.githubusercontent.com/4557491/49058285-31eb0e00-f225-11e8-8ab2-a1bb3aa2f0a5.png)

[2018-11-27 04:18] menschikov commented on #88
![image](https://user-images.githubusercontent.com/4557491/49058346-6d85d800-f225-11e8-8779-ab2a9b13f8fb.png)

[2018-11-27 04:24] menschikov opened #90 "MainPage, CommunityPage: Video section"
**Is your feature request related to a problem? Please describe.**
video section is too big, if doesn't fit one screen on PCs and need to be reduced

**Describe the solution you'd like**
make video section fit one screen. the posible solution can be like here
![image](https://user-images.githubusercontent.com/4557491/50214762-e7336080-03a2-11e9-8fdb-0b844d1de69d.png)

video should open in modal

*

[2018-11-27 04:42] menschikov opened #91 "Key benefits section (Suppliers&Sellers pages)"
**Is your feature request related to a problem? Please describe.**
current benefits are scrolled down, people don't read it

**Describe the solution you'd like**
make if simpler, less text, more accent on each, better icons
![image](https://user-images.githubusercontent.com/4557491/49059048-c30fb400-f228-11e8-9f08-0ff00cb0ba5c.png)

[2018-11-27 04:44] menschikov commented on #91
2 cards per row for desktop, 1 - for mobile

[2018-11-27 08:18] menschikov opened #92 "redesign "Solutions" component for Suppliers and Sellers page"
**Is your feature request related to a problem? Please describe.**
current appearance of these components is not attractive, a lot of text

**Describe the solution you'd like**
get rid of unnecessary parts of text and make such component
![image](https://user-images.githubusercontent.com/4557491/49067764-c31eac80-f246-11e8-819b-148273c82b4c.png)

0-2 buttons possible

to use one components per Sol

[2018-11-27 08:45] menschikov commented on #71
sellers page should be templated in same way as suppliers one #70

[2018-11-27 08:47] menschikov commented on #72
to be consistent we can use same template for vendors as for suppliers #70

[2018-11-27 08:49] menschikov commented on #67
we put it on hold, we deploy website without this page. We need first to describe Lif usage. We need to remove links to this page from menus and footers

[2018-11-27 08:52] menschikov opened #93 "FoundationPage: WT services consultation banner"
same component as #89

**Is your feature request related to a problem? Please describe.**
consultancy banner from Foundation page should be redesigned or removed
![image](https://user-images.githubusercontent.com/4557491/49069658-a0db5d80-f24b-11e8-9eab-a26272386c53.png)

**Describe the solution you'd like**
the banner should be consistent design with other banners we use

**Describe alternatives

[2018-11-27 09:01] menschikov opened #94 "CommunityPage: Already with Us section"
**Is your feature request related to a problem? Please describe.**
need consistent style

**Describe the solution you'd like**
use component #88 for card

[2018-11-27 09:02] menschikov commented on #89
we have fitting style of social icons on Community page hero
![image](https://user-images.githubusercontent.com/4557491/49070274-18f65300-f24d-11e8-8447-d5550f672550.png)

[2018-11-27 09:05] menschikov opened #95 "CommunityPage: quotes"
**Is your feature request related to a problem? Please describe.**
Max' and Jakub's quotes are of different size and not accented

**Describe the solution you'd like**
We need to reduce Jakub's text
@skkr To attract attention we can add rounded rectangles as bkg for each quote

[2018-11-27 09:33] menschikov opened #96 "AllPages: Event section"
**Is your feature request related to a problem? Please describe.**
Events section is too large and doesn't fit one screen on PC, need to be redesignes

**Describe the solution you'd like**
 like this from https://poa.network/
![image](https://user-images.githubusercontent.com/4557491/49072136-64aafb80-f251-11e8-91d2-a7ea805f9d9f.png)

[2018-11-27 11:33] beogip commented on #77
@menschikov I do not have permissions to update issues in waffle. This tasks is in development

[2018-11-27 11:35] beogip commented on #83
@menschikov if the current card will be used I think the best it creates another task with the new card, and use this issue to create the component that will be used in the footer. What do you think?

[2018-11-27 12:18] menschikov commented on #77
I will check why. BTW, you can use label "UI in development", it will move
issue to Dev column

вт, 27 нояб. 2018 г., 16:33 Juan Ignacio Gipponi notifications@github.com:

[2018-11-27 14:44] skkr commented on #81
In the latest version of wt-ui margins were set across all app components to keep consistency. We can evaluate this later once we finish the priorities.

[2018-11-27 15:19] skkr commented on #93
This can be built by combining components, except for the white box, than can be included in the app directly (we will probably change that, that's why is not in wt-ui)

[2018-11-27 15:30] menschikov opened #97 "MainPage: New card design"
**Is your feature request related to a problem? Please describe.**
current cards are not attractive and contain too much text

**Describe the solution you'd like**
reduce card's visible content
![image](https://user-images.githubusercontent.com/4557491/49092167-37774100-f283-11e8-9ae9-90b5a3fbd845.png)

[2018-11-27 16:56] skkr commented on #48
@menschikov , ok, we'll update the design, and the component in wt-ui

[2018-11-27 17:01] menschikov commented on #93
we need to get rid of that white block and use standard illustration +button template

[2018-11-27 17:29] skkr commented on #90
We can use this for now, component is already in wt-ui.

[2018-11-27 17:49] skkr commented on #70
These components will be designed and added/updated in wt-ui.

[2018-11-27 23:10] beogip commented on #77
The problem's that I'm in `windingtree/wt-collaborators`, this team doesn't have permissions to add labels in this repo

[2018-11-29 14:45] skkr commented on #93
@menschikov if we are going to keep the text and the button I suggest to keep it like this by now, and we can update it later when we have more progress with the illustrations.

[2018-11-29 15:03] skkr commented on #93
Otherwise we can use one of these icons
![image](https://user-images.githubusercontent.com/1435069/49230431-68b05800-f3ce-11e8-8f5b-fdb5c44ce1a7.png)
![image](https://user-images.githubusercontent.com/1435069/49230209-e45dd500-f3cd-11e8-8500-b5d8cc2b2961.png)
![image](https://user-images.githubusercontent.com/1435069/49230549-b927b580-f3ce-11e8-892d-8dac288b806f.png)

and this layout
![image](http

[2018-11-29 15:34] menschikov commented on #93
last icon and this layout

[2018-11-29 15:45] PabloAlice opened #99 "MainPage: Index Banner for main view"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
Index banner component for the main view
![image](https://user-images.githubusercontent.com/4557491/50267472-24522e00-0449-11e9-813e-d964913cb76f.png)

Button:
Buttons labels and action url should be stored in json
Primary button: Get on Board -> scroll to cards section below (anchor #onboar

[2018-11-29 16:17] MatiasOS commented on #78
We will do it how is it now and later we will update

[2018-11-29 16:53] menschikov opened #100 "Create new component "Montly Recap""
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
![image](https://user-images.githubusercontent.com/4557491/49237916-25330980-f421-11e8-9dac-3cd5afe0e55e.png)

[2018-11-29 21:02] skkr commented on #75
@menschikov new roadmap is in roadmap branch

https://github.com/windingtree/homepage/tree/roadmap

[2018-11-30 06:41] menschikov commented on #97
![image](https://user-images.githubusercontent.com/4557491/49272838-c0b19200-f494-11e8-8b38-ff10057be89c.png)
@skkr let's go simplest way, without slide up text onHover
![image](https://user-images.githubusercontent.com/4557491/49272866-d8891600-f494-11e8-92de-79aa9250f6af.png)

[2018-11-30 06:42] menschikov commented on #97
Button label should be variable dependent on cards

[2018-11-30 14:00] skkr commented on #97
@menschikov ok, this doesn't require UI work then. It can be done with the assets we already have in wt-ui.

[2018-11-30 15:14] menschikov commented on #83
@beogip  how's the process? btw, this is a task for new card #97 it's easy and can be built from standard components

[2018-11-30 15:17] menschikov commented on #78
@MatiasOS  there will be no text, just illustration with bg

[2018-11-30 15:20] menschikov commented on #80
I will move this component to INBOX we will return to it later, when finish existing blocks

[2018-11-30 15:57] menschikov opened #102 "background"
Nico please think on general background, I guess we can change it. Maybe get rid from thos gray shapes

[2018-11-30 16:02] #78 closed

[2018-11-30 16:03] #86 closed

[2018-11-30 17:04] skkr commented on #102
@menschikov ok!

[2018-11-30 18:50] MatiasOS opened #103 "Solutions section"
**Is your feature request related to a problem? Please describe.**
 We need a component that show solutions section.

**Describe the solution you'd like**
Create one or more components that help to show solution section inside of suppliers view.

**Additional context**
View : [Supliers](https://windingtree.com/suppliers.html)
Part of #70
![solutions-00](https://user-images.githubusercontent.com/54

[2018-11-30 18:52] menschikov commented on #103
@MatiasOS please check #92 , just fyi

[2018-12-01 09:19] menschikov commented on #87
@MatiasOS can you make links opening in new tab?

[2018-12-01 10:03] menschikov commented on #95
@skkr we will leave one quote with this template
![image](https://user-images.githubusercontent.com/4557491/49326855-49eec480-f57a-11e8-839f-5132c9785b0a.png)

[2018-12-01 10:52] menschikov commented on #89
click on Social icons should open new tab

[2018-12-04 06:06] menschikov commented on #95
or this option with video frame - video plays in this frame
![image](https://user-images.githubusercontent.com/4557491/49422164-902f6800-f7b4-11e8-9665-624b2229b420.png)

[2018-12-04 06:13] menschikov commented on #96
@skkr we need to make the image frame to store either image or video

[2018-12-04 19:20] MatiasOS opened #106 "Key benefits"
**Is your feature request related to a problem? Please describe.**
Create a KeyBenefits Component. This component is used in Sellers and Suppliers pages

**Describe the solution you'd like**
We need a component that will be used in both pages.

**Additional context**
Related to #91

![keybenefits](https://user-images.githubusercontent.com/5481398/49466728-8a02b100-f7df-11e8-9c5a-7bc98db07cb4.png)

[2018-12-05 02:41] menschikov commented on #91
@skkr @MatiasOS we will have 4 benefits here, this template will be required. Nico please assist Mati with template

[2018-12-05 06:59] menschikov opened #107 "Fix roadmap"
@skkr please fix next small things on roadmap:
1) Buttons should be smaller and thinner on Desktop
![image](https://user-images.githubusercontent.com/4557491/49495029-7c066c00-f883-11e8-8d7d-69aebab6a8be.png)
like
![image](https://user-images.githubusercontent.com/4557491/49495346-8412db80-f884-11e8-8bed-2edab52f8290.png)
- I would not make them uppercase.
- On mobile screens buttons can be bigger

[2018-12-05 19:06] MatiasOS opened #109 "Partners compoent"
**Is your feature request related to a problem? Please describe.**
Create a Partners component to as is showed in the main page.

**Describe the solution you'd like**
![partners-00](https://user-images.githubusercontent.com/5481398/49534178-afef8a80-f89f-11e8-8a71-c9956bb66ae3.png)

**Additional context**
Part of #76

[2018-12-07 06:33] #75 closed

[2018-12-07 07:57] menschikov opened #111 "New form for "partners""
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
new window with just top menu, form and footer
![image](https://user-images.githubusercontent.com/4557491/49634769-88bfc700-fa1f-11e8-9665-d38af487d2af.png)

[2018-12-07 08:05] menschikov opened #112 "New form for Followers"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Page with top menu, form and footer
Form can consist of 2 steps, depending which option is chosen:

1 step - common
![image](https://user-images.githubusercontent.com/4557491/49634970-0e437700-fa20-11e8-812b-950058928617.png)

If u

[2018-12-10 02:37] menschikov commented on #66
We use current layout but replace all old components with redesigned ones

[2018-12-10 02:39] menschikov commented on #69
see #96

[2018-12-10 02:39] #69 closed

[2018-12-10 02:40] menschikov commented on #68
We use current layout but with redesigned components

[2018-12-10 02:41] menschikov commented on #80
same as #100

[2018-12-10 02:41] #80 closed

[2018-12-10 02:49] menschikov commented on #106
@MatiasOS please see #91 same issues

[2018-12-10 02:50] menschikov commented on #76
please pay attention on updated components

[2018-12-10 11:30] #83 closed

[2018-12-10 11:30] #106 closed

[2018-12-10 11:30] #103 closed

[2018-12-10 11:30] #87 closed

[2018-12-10 15:17] menschikov opened #118 "Deploy to new server"
Guys, we will need to move website to new server where all our apps are running

[2018-12-10 15:21] menschikov opened #119 "Server Side Render"
**Is your feature request related to a problem? Please describe.**
For SEO purposes we need enable Server Side Rendering for website. Best would be to deliver SSR version only to search robots.

**Describe the solution you'd like**
SSR

**Describe alternatives you've considered**
Isomorphic app is not that good with react

[2018-12-10 15:25] menschikov opened #120 "Website metrics"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
Enable google tag manager, google analitycs, optimizer, yandex metrics

[2018-12-10 16:31] skkr commented on #85
Ref: [Storybook](https://storybook-ef67b.firebaseapp.com/?selectedKind=Preset%20Blocks&selectedStory=Devs%20Marquee&full=0&addons=1&stories=1&panelRight=1&addonPanel=storybook-addon-viewport%2Faddon-panel)

[2018-12-10 16:32] skkr commented on #109
[Storybook Ref](https://storybook-ef67b.firebaseapp.com/?selectedKind=Preset%20Blocks&selectedStory=Partners%20Marquee&full=0&addons=1&stories=1&panelRight=1&addonPanel=storybook-addon-viewport%2Faddon-panel)

[2018-12-10 16:33] skkr commented on #93
[Ref in Storybook](https://storybook-ef67b.firebaseapp.com/?selectedKind=Layout%2FSections&selectedStory=Section&full=0&addons=1&stories=1&panelRight=1&addonPanel=storybook-addon-viewport%2Faddon-panel)

[2018-12-10 16:55] menschikov commented on #93
@skkr look on the scaling
![image](https://user-images.githubusercontent.com/4557491/49747907-410e9900-fcc6-11e8-9189-f1739e69b1ce.png)

[2018-12-10 16:58] menschikov commented on #93
@MatiasOS this block should be versatile, we will use this banner for different cases (developers banner, WT services etc), so using of this social icon here should be optional (true\false), possible?

[2018-12-10 17:05] menschikov commented on #93
if it's too complicated to deal with this icons we can remove them for now and add in future, after website relaunch, that's not a problem at all, it's optional

[2018-12-10 19:34] skkr commented on #97
Check the info about cards [here](https://storybook-ef67b.firebaseapp.com/?selectedKind=Containers&selectedStory=Card&full=0&addons=1&stories=1&panelRight=1&addonPanel=storybook-addon-viewport%2Faddon-panel).

[2018-12-10 19:41] skkr commented on #93
@menschikov I'll take care

[2018-12-10 19:53] skkr commented on #95
[Blockquote info](https://storybook-ef67b.firebaseapp.com/?selectedKind=Typography%2FBlockquotes&selectedStory=Blockquote&full=0&addons=1&stories=1&panelRight=1&addonPanel=storybook-addon-viewport%2Faddon-panel)

[2018-12-10 20:00] skkr commented on #91
@MatiasOS use this image as a reference.

Check the following sections in storybook.
- layout: section component / row / col
- typography: headings and text (add .muted to make it g ray)
- branding: media assets > custom icons

![image](https://user-images.githubusercontent.com/1435069/49758043-b36a8380-fc9c-11e8-95b6-861b3257ccc1.png)

[2018-12-10 20:04] skkr commented on #89
Related to this https://github.com/windingtree/homepage/issues/93

[2018-12-10 20:08] skkr commented on #48
Reference image

![image](https://user-images.githubusercontent.com/1435069/49758525-efeaaf00-fc9d-11e8-8153-99b851117806.png)

Tab
https://storybook-ef67b.firebaseapp.com/?selectedKind=Navigation&selectedStory=Nav%20Pointers&full=0&addons=1&stories=1&panelRight=1&addonPanel=storybook-addon-viewport%2Faddon-panel

Blockquote
https://storybook-ef67b.firebaseapp.com/?selectedKind=Typography%2FBlockq

[2018-12-10 20:12] skkr commented on #88
Reference image

![image](https://user-images.githubusercontent.com/1435069/49758827-af3f6580-fc9e-11e8-80d6-2cbdbcdae89e.png)

Tab
https://storybook-ef67b.firebaseapp.com/?selectedKind=Navigation&selectedStory=Nav%20Pointers&full=0&addons=1&stories=1&panelRight=1&addonPanel=storybook-addon-viewport%2Faddon-panel

Blockquote
https://storybook-ef67b.firebaseapp.com/?selectedKind=Typography%2FBlockq

[2018-12-10 20:15] skkr commented on #96
Ref image

![image](https://user-images.githubusercontent.com/1435069/49758986-207f1880-fc9f-11e8-84dc-52eadb47d92d.png)

[2018-12-10 20:19] skkr commented on #70
@menschikov  this is all done. #92 should be done on the website directly. @MatiasOS I can help.

[2018-12-10 20:21] skkr commented on #92
Related to https://github.com/windingtree/homepage/issues/70

Ref image
![image](https://user-images.githubusercontent.com/1435069/49759284-ff6af780-fc9f-11e8-9aaa-4fb29cc7801c.png)

[2018-12-11 03:30] menschikov commented on #48
nice!

[2018-12-11 03:33] menschikov commented on #91
@skkr can you do them as in wareframe:
- 2 in row
- larger
- with bg or border

real benefits are here https://docs.google.com/document/d/1spHRz5QpyGWRx00ljAMkF2Ek6AnoQC7Ow-WAaOfBvvQ/edit#heading=h.pvmt47gqx7na

[2018-12-11 03:37] menschikov commented on #97
@skkr this one fits
![image](https://user-images.githubusercontent.com/4557491/49776888-d8540a80-fd1f-11e8-8d38-cef9bf8a2efb.png)

but I think there will be too many accented buttons in row of 4-5 cards, maybe it worth to do button outline option?

[2018-12-11 14:43] skkr commented on #97
@menschikov that's right, we should use dark outlined buttons.
green buttons are for primary actions, and we sould probably limit its use to one per section

[2018-12-11 15:10] skkr commented on #91
@menschikov think is not a good solution. I sent you a direct message explaining the reason.

[2018-12-12 09:46] menschikov opened #124 "HackathonPage build"
### Option 1: Look on this as on a separate product and create from scratch
We can look on hackathon page as on a separate product and create own backlog for it with dozens of user stories like e.g. "As a developer I want to browse challenges I will be offered to solve..." etc

We may need it to some new page/feature. But let's see on option 2.

### Option 2: Look on this task as on expanding/copy

[2018-12-14 04:33] menschikov commented on #118
@MatiasOS @PabloAlice what about to setup new repo and deploy temp version of website to now.sh (or what was the service) on smth like temp.windingtree.com

I will fill it with content on the go.

robots.txt -> disallow * required

[2018-12-16 15:07] skkr opened #129 "Website scaffolding is wrong"
Main website structure must be
[code]
- We must use #app-header and #app-content to prevent the header and content overlap, and fix position to the top.

- We must use .app-section blocks instead of using CSS helper classes to space sections.

- We should use #app-footer to make sure the design is accurate, and consider making the footer to stick to the bottom.

[2018-12-17 11:02] menschikov commented on #74
let's close it as first iteration is successfully done

[2018-12-17 11:02] #74 closed

[2018-12-17 11:05] menschikov commented on #90
@skkr  I think if we use current template of gallery - we will have 2 same blocks on page: video gallery and events gallery. What simple solution can you advice?

[2018-12-17 14:21] MatiasOS opened #132 "Enable flow in CI"
**Describe the bug**
We have a bug in @windingtree/wt-ui-react that prevents from use flow in CI.
Issue: https://github.com/windingtree/wt-ui-react/issues/68

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [homepage](https://github.com/windingtree/homepage/) repository
2. Install everything
3. run `npm run flow`
4. See error

**Expected behavior**
Flow must not throw by errors in other

[2018-12-17 15:02] menschikov commented on #76
Is this a main page?

[2018-12-17 16:45] menschikov commented on #99
@PabloAlice ?

[2018-12-17 16:45] menschikov commented on #99
@skkr  please review if UI is finished here

[2018-12-17 16:46] menschikov commented on #77
@skkr  please review if UI is finished here
@MatiasOS  this task stuck

[2018-12-17 16:49] #67 closed

[2018-12-17 17:11] skkr commented on #92
Related PR:  #130

[2018-12-17 17:21] skkr commented on #90
@menschikov depending on how many videos we are going to show,  maybe a grid could work.

We should see how everything works together. Having a wireframe or rough sketch of the full page will help to visualize it better.

[2018-12-17 17:44] skkr commented on #97
[Info about cards](https://storybook-ef67b.firebaseapp.com/?selectedKind=Containers&selectedStory=Card&full=0&addons=1&stories=1&panelRight=1&addonPanel=storybook-addon-viewport%2Faddon-panel) in Storybook

[2018-12-17 17:50] skkr commented on #92
@menschikov , closing this issue since is about redesign and that's done. #70 is the issue still in progress.

[2018-12-17 17:50] #92 closed

[2018-12-17 17:51] skkr commented on #70
Related PR: #130

[2018-12-18 00:43] skkr commented on #124
@menschikov we are going to keep the same content we have now?

[2018-12-18 00:44] skkr commented on #81
Related https://github.com/windingtree/homepage/issues/129

[2018-12-18 01:55] menschikov commented on #124
Yes

вт, 18 дек. 2018 г., 5:43 Nico Calabrese notifications@github.com:

[2018-12-18 02:17] menschikov commented on #90
![image](https://user-images.githubusercontent.com/4557491/50127952-0348dc00-0295-11e9-80b4-8ca625753c5a.png)

[2018-12-18 02:44] menschikov commented on #85
@MatiasOS haven't you finished it??? I guess we discussed it last week

[2018-12-18 06:54] menschikov commented on #119
@PabloAlice,
the best option is to check useragent and route search bots to SSR version of website, and humans should be router to usuall SPA

here's best description of this https://www.christianoliveira.com/blog/en/seo-progressive-web-apps-pwa/

[2018-12-18 08:07] menschikov commented on #120
@PabloAlice check what we will also need https://medium.com/alturasoluciones/how-to-set-up-and-use-google-analytics-in-react-apps-fb057d195d13

[2018-12-18 12:40] menschikov commented on #120
@Matiasos

[2018-12-18 12:41] menschikov commented on #119
@PabloAlice we also need to exclude all js from prerendered ages for search robots

[2018-12-18 15:48] skkr commented on #99
@menschikov Is this the hero area in the homepage? Image is still pending but we can base it in the old layout by now and then replace the image and adjust the grid if necessary.

[2018-12-18 15:53] skkr commented on #77
It can be done using the assets we already have, mainly bootstrap grid classes and [card component](https://storybook-ef67b.firebaseapp.com/?selectedKind=Containers&selectedStory=Card&full=0&addons=1&stories=1&panelRight=1&addonPanel=storybook-addon-viewport%2Faddon-panel). We also have helpers for [gradient backgrounds](https://storybook-ef67b.firebaseapp.com/?selectedKind=Utilities&selectedStory

[2018-12-18 16:19] #85 closed

[2018-12-18 17:10] menschikov commented on #99
Nico, yes, this is hero for main page

[2018-12-18 22:52] skkr commented on #99
@PabloAlice let me know if there is something unclear.

[2018-12-19 09:29] menschikov opened #135 "CommunityPage: Need to fix svg mask for collaborators slick"
**Describe the bug**
need to fix svg mask

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Contributors slick

**Screenshots**
http://joxi.ru/KAgxqB5i4By9vr

We need to create correct svg mask to look like here or if impossible - use rounded avatars.

can be done after launch

[2018-12-19 13:21] skkr commented on #135
@menschikov is it wrong in wt-ui storybook?

[2018-12-19 13:24] skkr commented on #95
This can be done directly in the website using classes and styles we have already.

We can later make adjustments to the quotes in wr-ui and design library.

[2018-12-19 14:20] menschikov commented on #95
I thought you have it in framework we can easily change 20 to 70px, not
involving devs

ср, 19 дек. 2018 г., 18:24 Nico Calabrese notifications@github.com:

[2018-12-19 15:10] skkr commented on #95
Yes but is a design decision to change spacing, it should be evaluated properly to be consistent with the design system and not as something isolated.

By now it can be done easily in the homepage by adding a CSS class.

[2018-12-19 15:35] skkr opened #136 "MainPage: Features section"
**To do:** Include Features section in homepage

[Ref in wt-ui Storybook](https://storybook-ef67b.firebaseapp.com/?selectedKind=Navigation&selectedStory=Scrollspy&full=0&addons=0&stories=1&panelRight=1&addonPanel=storybook-addon-viewport%2Faddon-panel)

**Content should be grabbed from JSON!**
Content can be found here: https://docs.google.com/document/d/1spHRz5QpyGWRx00ljAMkF2Ek6AnoQC7Ow-WAaOfBvv

[2018-12-19 15:39] skkr opened #137 "MainPage, SuppliersPage, SellersPage, VendorsPage: How It Works Diagram"
Make a design proposal to include "How it works" diagram in homepage

Then include it in the Main page and the Solutions section

[2018-12-19 15:40] #88 closed

[2018-12-19 15:42] #94 closed

[2018-12-20 03:54] menschikov commented on #135
@skkr we need to adapt it for gh images. On new version we grab avatars from website (on current version I cropped them) and they dont fit the mask, see how it looks like.

[2018-12-20 03:56] menschikov commented on #95
Please change spacing between quote and signature (from 20 to 70px)

[2018-12-20 04:00] menschikov opened #141 "CommunityPage: Build by community"
a new section to be added after Collaborators

UX like http://joxi.ru/vAWJnOWc1eM952 (see Hackathon page)
onClick - go to URL

task in Asana https://app.asana.com/0/741583180039295/951280160784951/f

[2018-12-20 04:12] menschikov commented on #95
@skkr can you quicky fix it when working with video section on website?

[2018-12-20 04:17] menschikov opened #142 "FoundationPage: Roadmap"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
We need to move roadmap to react, the design and content as on current website https://windingtree.com/foundation.html#roadmap

[2018-12-20 04:35] menschikov opened #143 "AllPages: footer"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
Create footer for all pages like https://windingtree.com/

DO NOT include Lif Token for now

@skkr guess we have it ready in framework, right? Post a link here please

[2018-12-20 04:43] menschikov opened #144 "AllPages: Top Menu"
Create NavBar like on https://windingtree.com/
Don't include Lif Token for now

[2018-12-20 04:59] menschikov commented on #76
Requires #144, #97, #99, #136, #137, #88, #109, #48, #89, #90, 96,  #87, #77, #143

[2018-12-20 05:07] menschikov commented on #77
Requires #83

[2018-12-20 05:18] menschikov opened #145 "AllPages: Hero banner"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
we need hero banner for all pages except main (because it's in #99). We need to have opportunity to place here 2 buttons: primary and outline
![image](https://user-images.githubusercontent.com/4557491/50265187-3f6c7000-0440-11e9-84c9-cb0ae3b54a1e.png)

[2018-12-20 06:46] menschikov commented on #77
@MatiasOS @PabloAlice maybe reassign this tast to Pablo, it has similar cards as in #99, and these cards should get same content from same JSON (See issue description, it's updated)

[2018-12-20 07:14] menschikov opened #146 "FondationPage: team section"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
Create React team section
Store content in JSON
![image](https://user-images.githubusercontent.com/4557491/50269665-d3dece80-0450-11e9-8ef6-4ea824d13ff0.png)

**Additional context**
Add any other context or screenshots about the feature request here.

[2018-12-20 09:23] menschikov commented on #48
@MatiasOS is it done? I guess yes https://homepage-bafuwceuxb.now.sh/#/home

[2018-12-20 10:50] skkr commented on #143
@menschikov that's right

[2018-12-20 10:58] skkr commented on #135
@menschikov it would be much faster to fix making the source images the same size and aspect ratio than the ones used before. Can you try that?

[2018-12-20 11:13] menschikov commented on #135
We can't do that anymore, Mati parses it from github and includes automatically. This is a way it should work, we will leave this for next iteration. not for now

[2018-12-20 11:51] skkr commented on #135
Right, got it. Thanks for clarify :)

[2018-12-20 13:48] skkr commented on #111
![image](https://user-images.githubusercontent.com/1435069/50288440-b73c9980-0444-11e9-87c2-a4360d1b22cc.png)

[2018-12-20 13:48] skkr commented on #112
![image](https://user-images.githubusercontent.com/1435069/50288480-d1767780-0444-11e9-9ed2-ccafaa3b9bc2.png)

[2018-12-20 13:53] menschikov commented on #111
Looks good.

**DEVs:** country should be input with autocompletem like e.g. on booking.com

[2018-12-20 13:56] menschikov commented on #112
**Country control should be input with autocomplete**

[2018-12-20 15:24] skkr commented on #90
@MatiasOS , @PabloAlice , @menschikov

This section is basically a [grid](https://storybook-ef67b.firebaseapp.com/?selectedKind=Layout%2FGrid&selectedStory=Overview&full=0&addons=0&stories=1&panelRight=1&addonPanel=storybook-addon-viewport%2Faddon-panel) of [cards with images](https://storybook-ef67b.firebaseapp.com/?selectedKind=Containers&selectedStory=Card&full=0&addons=0&stories=1&panelRight=1

[2018-12-20 17:16] skkr commented on #90
@menschikov [this](https://storybook-ef67b.firebaseapp.com/?selectedKind=Containers%2F%20Modal&selectedStory=Modal%20%28carousel%29&full=0&addons=0&stories=1&panelRight=1&addonPanel=storybook-addon-viewport%2Faddon-panel)

[2018-12-20 17:30] menschikov commented on #90
@skkr we are not doing any carousel here. Just 4 cards with video, onClick - open modal for just one video, no carousel.

[2018-12-20 17:31] skkr commented on #146
*UI*
- [ ] Add user component to storybook docs.

[2018-12-20 17:35] skkr commented on #90
@menschikov then I misunderstood your screenshots. Anyway is basically the same. Clicking on images should open de `.modal-media` component. And videos should stop on modal close. I'll update tasks in the comment above.

[2018-12-20 17:40] skkr commented on #112
**UI**
- [ ] Add horizontal quote to wt-ui

[2018-12-20 18:01] skkr commented on #112
@menschikov is there any criteria to consider for labels color? Or just random colors?

[2018-12-21 02:18] menschikov commented on #112
let's use one

[2018-12-21 02:19] menschikov commented on #112
but here I would use another one color
![image](https://user-images.githubusercontent.com/4557491/50321014-b103f700-04f0-11e9-9ced-802127734c56.png)

[2018-12-21 02:34] menschikov commented on #48
@skkr please check this section if it's ready. Also think about changing line-height to something larger. Text is hard to read now, here I used "2" http://joxi.ru/GrqbpGlCQWoXRm

[2018-12-21 02:37] menschikov commented on #143
@MatiasOS, @skkr  I see footer on now.sh, can we consider this as done and close the issue?

[2018-12-21 02:38] menschikov commented on #144
@skkr @MatiasOS I see it's done, can we clost the issue?

[2018-12-21 02:59] #143 closed

[2018-12-21 03:00] #144 closed

[2018-12-21 03:02] menschikov commented on #48
seems we need to fix logo sizes that are under tabs block

[2018-12-21 10:40] menschikov commented on #87
@skkr we need to fix opacity/color change onHover, onHover effect is almost invisible

[2018-12-21 11:06] menschikov commented on #90
this looks like very simple section we must finish this asap

[2018-12-21 11:07] menschikov commented on #95
@skkr ?

[2018-12-21 15:46] #77 closed

[2018-12-21 15:49] MatiasOS commented on #97
Close because this is resolved in `@windingtree/wt-ui` and `@windingtree/wt-ui-react`

[2018-12-21 15:49] #97 closed

[2018-12-21 16:42] skkr commented on #137
@menschikov something like this? I advice to have a text close to the button.

In other pages we'll have to use the diagram between two sections with white background.

![image](https://user-images.githubusercontent.com/1435069/50353148-14f4e280-0526-11e9-96ea-dd7083bdbd24.png)

[2018-12-21 16:58] menschikov commented on #137
Nice!

[2018-12-21 16:59] menschikov commented on #137
But on solutions pages the diagram should be after benefits

[2018-12-21 17:14] skkr commented on #137
Yes, great! 👍

[2018-12-21 18:09] skkr commented on #137
Final image is attached.

Layout reference is in my previous comment.

Background style is `.bg-light`, but it has a radial gradient so use these styles instead for this specific section.

[code]

<img width="1311" alt="hiw-diagram" src="https://user-images.githubusercontent.com/1435069/50356733-e2e97d80-0531-11e9-9b3c-174dc2ba1f87.png">

[2018-12-21 23:02] #136 closed

[2018-12-22 12:45] skkr commented on #96
We have most of what we need to code it so @MatiasOS / @PabloAlice you can start working on it if you need.

It uses tabs, the collapse component, and a grid.

**UI pending**
- [ ] Create a component for date blocks
- [ ] Restyle the default tabs
- [ ] Evaluate the best way to generate the footer

[2018-12-22 13:01] menschikov commented on #96
Nico, please add tab "own events":
Past
Upcoming
Own

[2018-12-22 13:10] skkr commented on #48
@MatiasOS @PabloAlice can you confirm if we are using the latest version of wt-ui?

[2018-12-22 13:13] skkr commented on #96
got it

[2018-12-22 19:50] skkr commented on #146
This is ready for implementation in homepage

[Info in Storybook](https://storybook-ef67b.firebaseapp.com/?selectedKind=Preset%20Blocks&selectedStory=User&full=0&addons=0&stories=1&panelRight=1&addonPanel=storybook-addon-viewport%2Faddon-panel)

[2018-12-22 19:53] skkr commented on #112
We have all the styles to build this layout in wt-ui.

[2018-12-22 19:57] skkr commented on #95
@menschikov increaded the space in the framework directly. I wouldn't make it larger than this. You can [review it here](https://storybook-ef67b.firebaseapp.com/?selectedKind=Typography%2FBlockquotes&selectedStory=Blockquote%20%28card%29&full=0&addons=0&stories=1&panelRight=1&addonPanel=storybook-addon-viewport%2Faddon-panel).

[2018-12-23 09:38] MatiasOS commented on #95
If this not require changes in `@windingtree/homepage`. Can we close it?

[2018-12-23 09:46] #95 closed

[2018-12-23 10:24] menschikov opened #151 "Fix views"
@skkr
please review this things on new website and fix them

- [ ] Sections should be full width
![image](https://user-images.githubusercontent.com/4557491/50382619-b36b7a00-06c5-11e9-98b8-886a9ea2c5f7.png)
![image](https://user-images.githubusercontent.com/4557491/50382621-b8c8c480-06c5-11e9-9178-18dde00fb0a2.png)
(this is just couple examples out of many)

- [ ] fix icon size across website (als

[2018-12-23 13:04] skkr commented on #141
We can use existing [cards component][0] to build the section.

[0]: https://storybook-ef67b.firebaseapp.com/?selectedKind=Containers&selectedStory=Card&full=0&addons=0&stories=1&panelRight=1&addonPanel=storybook-addon-viewport%2Faddon-panel

[2018-12-24 02:36] #137 closed

[2018-12-24 02:42] #48 closed

[2018-12-24 03:57] menschikov commented on #96
@PabloAlice fyi

[2018-12-24 07:49] menschikov commented on #120
https://malloc.fi/using-google-analytics-with-next-js
https://github.com/zeit/next.js/issues/160
https://github.com/googleanalytics/autotrack

[2018-12-24 22:18] skkr commented on #73
@menschikov I have not heard from him over the last days. Previous days he was busy with diagram and UI stuff.

[2018-12-26 16:20] skkr commented on #73
@menschikov Fabi is off for holidays until next month. He'll be able to continue on next month.

[2018-12-27 00:00] skkr commented on #96
@PabloAlice. @menschikov this is ready, new tabs and content can be added at the implementation time

[Ref in Storybook](https://storybook-ef67b.firebaseapp.com/?selectedKind=Templates&selectedStory=Events&full=0&addons=0&stories=1&panelRight=1&addonPanel=storybook-addon-viewport%2Faddon-panel)

[2018-12-27 00:06] skkr commented on #124
Here is a design mockup to take as a reference. We have everything to build it in wt-ui.

![wp-hackathon-v4](https://user-images.githubusercontent.com/1435069/50460149-eb86ed00-0951-11e9-81ef-dfd256aaba13.jpg)

[2018-12-27 04:13] menschikov commented on #99
@skkr can you change here button to outline https://storybook-ef67b.firebaseapp.com/?selectedKind=Containers&selectedStory=Card&full=0&addons=1&stories=1&panelRight=1&addonPanel=storybook-addon-viewport%2Faddon-panel ?

[2018-12-27 05:03] menschikov commented on #96
@skkr will we have any description under the image? we need as long as CTA link or button.
 Also Upcoming tab should be first
![image](https://user-images.githubusercontent.com/4557491/50466294-89180600-09be-11e9-8f2d-249ad890f20a.png)

[2018-12-27 08:40] menschikov commented on #119
_Reminding issue:_ For SEO purposes we need to deliver search robots a static version of website . Best would be to deliver SSR version ONLY to search robots.

@PabloAlice @MatiasOS so there are several options of using SSR:

REQUIREMENT FOR ALL OPTIONS: exclude scripts from static versions

**1. "Classic way":**
1. setup NGINX server in front of NODE server, to proxy requests
2. Nginx will define

[2018-12-27 10:15] menschikov commented on #90
@MatiasOS, @skkr  there're some issues:

1) title below card should be a link to youtube playlist, each title - different URL.
e.g. here "About Winding Tree"should be a link and we don't need all videos link
![image](https://user-images.githubusercontent.com/4557491/50476048-70bce100-09e8-11e9-8761-2f0d0bca92e7.png)

or another option could be something like this - Titles should be accented with f

[2018-12-27 12:32] skkr commented on #90
@PabloAlice lets go with this one

![image](https://user-images.githubusercontent.com/1435069/50480333-0e4cec00-09ba-11e9-8cf2-f61386b6a76c.png)

[2018-12-27 12:38] skkr commented on #96
@menschikov there is no link, is just like the image posted above, but what I made is a template so is possible to add a link or button. It would be better to have a design ref. but since we don't have much time, lets just resolve it.

cc @MatiasOS

[2018-12-27 14:04] menschikov commented on #96
@skkr just see my initial example on the top

[2018-12-27 14:06] menschikov commented on #99
@skkr it's just not to confuse devs. We refer to this stylebook but use outline button on website

[2018-12-27 14:33] PabloAlice commented on #119
Well, Next.js it's a nice option if we are at the beginning of the project, I don't think that we really need it.
First, I would make an SSR with React "natively".
https://medium.freecodecamp.org/demystifying-reacts-server-side-render-de335d408fe4
It's not a big deal.
Then, we can think about some optimizations, like filtering user-agents, adding Nginx, etc.

I think that the only advantage of fil

[2018-12-27 14:41] menschikov commented on #119
@PabloAlice if we go with the way of SSR for all useragents we need to take care about next:
- avoid realtime render for every request, but have cached version of website and update it on every merged PR
- make sure Google Tag manager tag properly injected to every rendered page

[2018-12-27 16:45] skkr commented on #99
@menschikov that's right.

[2018-12-27 16:47] skkr commented on #96
Yes, I meant it was not contemplated in the design, but is possible to add a link after the image similar to that example.

[2018-12-27 16:52] skkr commented on #90
@MatiasOS If you want I can take care of styling the thumbnails so you can focus on the modals. Let me know what you prefer.

[2018-12-28 21:41] #151 closed

[2019-01-02 08:11] JirkaChadima commented on #119
If it's easy to maintain visual consistency for SSR, I'd go for SSR for everybody. If it's hell, I'd filter out crawlers and give SSR only to them. It's easier to do changes if you have to check only one version after every change (But SSR might work really well, I don't have much experience with that in React).

From my understanding, you need express.js for SSR anyway, so the filtering can be do

[2019-01-03 21:19] #96 closed

[2019-01-04 14:04] #90 closed

[2019-01-04 14:05] #99 closed

[2019-01-04 14:05] #89 closed

[2019-01-04 14:05] #76 closed

[2019-01-04 16:27] menschikov opened #160 "Frontend fixes"
Pease see brach "content"

- [ ] 1. all links (buttons and links)  to external resources should be opened in new tab. I think we can extend component to check the passed prop

- [ ]  2. there's button Watch video in the main banned that should open video in modal

- [x] 3. Partner's logos and in the Press should be in one row (up to 6 logos in row)
![image](https://user-images.githubusercontent.co

[2019-01-04 17:18] skkr commented on #160
logo sizes should be proportional, please use the max width setting as in here
https://homepage-dhhuxrbcux.now.sh/#/suppliers

**Good**
![image](https://user-images.githubusercontent.com/1435069/50701136-6ecbd100-102b-11e9-90ae-0cace05b5a33.png)

**Wrong**
![image](https://user-images.githubusercontent.com/1435069/50701164-83a86480-102b-11e9-8dc6-c7d583b870a9.png)

[2019-01-05 15:53] #93 closed

[2019-01-06 12:45] menschikov commented on #160
@MatiasOS you made new component "Quotes" for solution page, but did you do that? this should be same component as commons/partnersAndContributors. So we need to reuse one component

but the Quotes is templated in a right way, it has 6 logos
![image](https://user-images.githubusercontent.com/4557491/50736104-63bf9f00-11eb-11e9-9bf4-7b1af04bdfef.png)

Please adjust commons/PartnersAndContributors t

[2019-01-08 13:46] skkr commented on #160
@MatiasOS do it like this:

[code]

![image](https://user-images.githubusercontent.com/1435069/50834363-9cb65b80-1332-11e9-8797-efa7337c1a08.png)

**Before**
![image](https://user-images.githubusercontent.com/1435069/50834285-6547af00-1332-11e9-9bbb-b7afd1ae0631.png)

[2019-01-11 08:41] menschikov opened #173 "Static serve hackathon page"

[2019-01-11 15:03] menschikov opened #174 "fix How it Works font"
Nico please fix "API" label font in How it Works diagram, remove 3d

[2019-01-12 06:11] menschikov opened #175 "Refactor image handling for Event section"
**Describe the bug**
Event section.  We have to store image name as an object's property instead importing it. At least we can store have const='./images/' and concatinate it with string from Object, e.g imgSrc='éns.png'

![image](https://user-images.githubusercontent.com/4557491/51069952-bc16f680-165a-11e9-81d1-cfd6475f95d9.png)

[2019-01-12 09:13] menschikov opened #176 "Opening External links"
**Describe the bug**

All links (buttons and links) that contain Youtube ( I suggest use prop "isVideoModal" instead of parsing link) should open modal with the video on click. We have Hero button "Watch Video", button below How it Works diagram "Watch video" and possibly some other buttons with video, these buttons should open modal window with video from youtube. We can store pass a prop that st

[2019-01-12 09:24] menschikov opened #177 "Main menu"
**Describe the bug**
Menu should be transparent over Hero banner
![image](https://user-images.githubusercontent.com/4557491/51071604-a19e4680-1675-11e9-80c7-0746a7219a19.png)
![image](https://user-images.githubusercontent.com/4557491/51071605-a531cd80-1675-11e9-8d49-966bf07ce719.png)

Main Menu should be closed after item click on mobile version, it now remains opened

[2019-01-12 09:26] menschikov opened #178 "Fix cards links"
**Describe the bug**
 Nothing happens on "Learn more" click on cards in Top and Bottom banners. Link is filled in json

**Solution:** make whole card a link (), cursor onHover "pointer", make "learn more" simple <p>

[2019-01-12 09:30] menschikov opened #179 "Fix Mobile veiws: Hero buttons"
**Describe the bug**
need space between buttons on heros and center them
![image](https://user-images.githubusercontent.com/4557491/51071655-83851600-1676-11e9-81d8-ca9b6f67cd6d.png)

[2019-01-12 09:31] menschikov opened #180 "Fix mobile views: Partners sections"
**Describe the bug**
need to do 3 logos in row for mobile view of Partners (2 rows of logos total, not 3). Because not you can't understand what you are reading about, because selected logo is out of the screen. @skkr please alsoo see this and please make opacity difference betwen selected and unselected items more significant
![image](https://user-images.githubusercontent.com/4557491/51071670-b6c

[2019-01-12 09:33] menschikov opened #181 "Fix mobile views: Features"
**Describe the bug**
don't use tabs for mobile view for Features section on main page, see how it's done on current website: just all features in a row

[2019-01-12 09:34] menschikov opened #182 "Features tabs Style"
**Describe the bug**
@skkr let's change style for Features tabs, it's nicer on current website
![image](https://user-images.githubusercontent.com/4557491/51071695-0dcd7a00-1677-11e9-9526-d8dffe64d357.png)
![image](https://user-images.githubusercontent.com/4557491/51071697-12922e00-1677-11e9-8913-522c9e45362a.png)

[2019-01-12 09:36] menschikov opened #183 "Hero on pages: Use Image"
**Describe the bug**
Hero banner on pages: we have to use image, not MDI ICON

@skkr is it from  the library or made on website?

[2019-01-12 09:36] menschikov commented on #160
Created separate tasks for each bug

[2019-01-12 09:36] #160 closed

[2019-01-12 18:52] menschikov commented on #142
@skkr please help with styles https://github.com/windingtree/homepage/pull/169 to be like on current website

[2019-01-12 19:49] MatiasOS commented on #183
Is from website, I'm on it

[2019-01-13 14:08] #179 closed

[2019-01-14 03:11] menschikov opened #187 "Inject meta tags"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
inject meta tags (title, description, keywords, and others  - see current website) to pages. Each page will have own static meta tags. A component can be used or react-helmet

[2019-01-14 03:42] #146 closed

[2019-01-14 07:47] menschikov opened #189 "URLs fix"
**Is your feature request related to a problem? Please describe.**
yes, we don't need /#/ in the address
![image](https://user-images.githubusercontent.com/4557491/51100949-4fd2f900-17fa-11e9-92ce-021dd6a604ad.png)

Also the mainpage should always be in route "/" not "/home"
Now when I jumping across pages and go back, it shows http://localhost:8080/#/home but should be just http://localhost:8080/

[2019-01-14 08:32] menschikov opened #190 "Banners Header"
**MANDATORY:**

 Hero banner header should be `<H1>` on every page, now we have `<h2>` on all pages except main.
H1 size should be reduced to be as H2, because current h1 doesn't fit small screens.
H2 tag for hero  banners should be replaced with h1

[2019-01-14 08:47] #175 closed

[2019-01-14 15:24] #181 closed

[2019-01-14 15:25] #178 closed

[2019-01-14 16:34] skkr commented on #190
**INFO:** use the html elements Alex mentioned, and **h1** to **h6** classes to change their appearance.

`<h1 class="h2">Heading</h1>`

[2019-01-14 17:16] menschikov opened #192 "add favicon"
add favicon

[2019-01-14 17:20] #190 closed

[2019-01-14 17:20] #173 closed

[2019-01-15 05:53] #66 closed

[2019-01-15 05:53] #68 closed

[2019-01-15 05:54] #72 closed

[2019-01-15 06:41] #71 closed

[2019-01-15 23:53] #142 closed

[2019-01-16 09:08] #141 closed

[2019-01-16 15:10] skkr commented on #174
I'll close the issue, will update in a further PR.

![imagen](https://user-images.githubusercontent.com/1435069/51257982-a28deb80-1987-11e9-9388-a3f234a0346d.png)

[2019-01-16 15:10] #174 closed

[2019-01-16 17:30] menschikov opened #199 "Fix links in footer"
Footer contain links with .html we need to get rid of ".html"
@skkr is it in React UI repo?

[2019-01-17 03:29] menschikov opened #200 "404 page"
add 404 page and setup redirect to it

The design of 404 page is in jekyll branch and sketch file, below is a template, colors should be adjusted
![8-404](https://user-images.githubusercontent.com/4557491/51816643-55940880-22e9-11e9-958d-e4ff01c14c9e.png)

[2019-01-17 03:33] menschikov commented on #118
@PabloAlice we need to setup redirect in .htaccess to redirect url with www to url without www  (domain without www is in search tops)

RewriteCond %{HTTP_HOST} ^www.site\.com$ [NC]
RewriteRule ^(.*)$ Http://site.com/$1 [R=301,L]

[2019-01-17 04:08] menschikov opened #201 "Catch URLs with .html extension"
We need to catch urls with .html and redirect them to same component as non-html urls to save SEO positions for indexed pages

e.g.
https://windingtree.com/suppliers and https://windingtree.com/suppliers.html should redirect to {Suppliers}

[2019-01-17 07:59] menschikov opened #202 "GDPR Popup"
we need to add GDPR notice on website
@skkr please design a bar or popup, you can use same template as on sendgrid.com with same text or just a alert bar in the bottom (no buttons! just closing sign "x").
![image](https://user-images.githubusercontent.com/4557491/51303297-c5d39c00-1a56-11e9-8dee-6929be0f5e21.png)

@MatiasOS we need to setup a cookie parameter (e.g GDPR=true) when user closes this

[2019-01-17 10:01] menschikov opened #203 "create static folder"
We need a static folder to put files available in the route of website windingtree.com/

Files to be stored there:
- robots.txt
- sitemap.xml
- favicon
- white paper
- privacy policy pdf
- cookie policy pdf
- terms of service

[2019-01-17 14:45] #187 closed

[2019-01-17 14:45] #176 closed

[2019-01-17 14:47] #189 closed

[2019-01-17 14:47] #199 closed

[2019-01-17 17:11] #129 closed

[2019-01-17 17:12] #177 closed

[2019-01-17 17:14] #81 closed

[2019-01-18 13:37] #192 closed

[2019-01-18 15:39] #201 closed

[2019-01-21 03:31] menschikov opened #216 "Setup Analitycs&Optimizer for forms"
Requires #111
Requires #112

[2019-01-21 03:59] menschikov opened #217 "Refactoring"
We need to refactor website to make it's updating and supporting easier, this requires. We must consider that Webpack send all page to same location. We must take care of name overlapping, and use this a benefit to reduce final size.

1. Splitting code and content: all content should be excluded from components and js files to .json and placed to src/data with the same structure as app elements, e

[2019-01-21 04:03] menschikov opened #218 "Press logos on -sm"
We need to make press logos under Quotes to be  in 2 columns, not the logo section is too long on mobile screens

[2019-01-21 04:04] #119 closed

[2019-01-21 04:04] #118 closed

[2019-01-21 04:28] menschikov opened #219 "Pagination for event section"
Max 5 events per page

[2019-01-21 04:37] menschikov opened #220 "Change cursor type on Event element onHover"
**Describe the bug**
Cursor type onHover on Event element remains "pointer" when element expanded. It should be changed to "default" pointer should be only on collapsed elements Hover. When we change cursor to default we need to make sure it will still be pointer on Event's button (button inside event element)

**To Reproduce**
Steps to reproduce the behavior:
Click on Event on main page to expand

[2019-01-21 04:41] menschikov opened #221 "URL bug"
**Describe the bug**
LInk on Consultancy banner does not open properly, it concatenates with current URL https://next.windingtree.com/https://docs.google.com/forms/d/e/1FAIpQLSevHx6goFLdbdI7TSX6JFugNlT56nlRD7I1XjqGc-06pIoemA/viewform

![image](https://user-images.githubusercontent.com/4557491/51453310-7811a900-1d60-11e9-9c43-5acc8f1ccc6d.png)

**To Reproduce**
Steps to reproduce the behavior:
1. G

[2019-01-21 14:19] MatiasOS opened #222 "Remove next branch"
**Is your feature request related to a problem? Please describe.**
Remove `next` branch and deploy from Travis

**Describe the solution you'd like**
Remove all code and configurations

**Describe alternatives you've considered**

**Additional context**

[2019-01-21 15:08] menschikov opened #223 "Main menu no logo when scroll"
**Describe the bug**
when we scroll page on mobile or desktop the main menu is just white ribbon we need to add a logo there
![image](https://user-images.githubusercontent.com/4557491/51482380-1c730a00-1db8-11e9-891f-da09a611f156.png)
![image](https://user-images.githubusercontent.com/4557491/51482985-aa032980-1db9-11e9-8426-f4d7943668ec.png)

**To Reproduce**
Steps to reproduce the behavior:
1. G

[2019-01-21 15:20] menschikov opened #224 "Mobile: Main menu don't close when item clicked"
**Describe the bug**
Main menu don't close when  menu item clicked and page changed

**To Reproduce**
Steps to reproduce the behavior:
click on main menu on mobile

**Expected behavior**
main menu should be closed when item or any other area outside menu clicked

[2019-01-22 02:43] #222 closed

[2019-01-22 02:55] #221 closed

[2019-01-22 04:19] #223 closed

[2019-01-22 05:50] menschikov opened #230 "Update footer"
1) we need a link "Terms of Service" pointing to /TermsOfService.pdf in the very bottom of website, we can remove
"powered by Winding Tree" and put Terms of Service on this place

2) Footer column About doesn't fit website structure, we need to repalce this column with new:
-Foundation
--[foundation navbar items]
--White Paper (link to /White_Paper_EN.pdf)

[2019-01-22 18:11] #218 closed

[2019-01-22 18:11] #220 closed

[2019-01-23 04:00] #230 closed

[2019-01-24 04:08] skkr commented on #135
This is done, will be included in my next PR (UI-adjustments)

[2019-01-24 04:58] #120 closed

[2019-01-24 16:01] menschikov opened #239 "Blog section (news)"
**Story:** When I'm exploring website and trying to figure out what Winding Tree is doing I want to see some fresh particular activities and use cases to understand more about Winding Tree.

**Story:** As a Winding Tree follower I want to see what's new in the project while checking the website to be updated with project news.

**UX notices:**

-  A section like "news" needed: e.g a card section w

[2019-01-24 16:14] menschikov opened #240 "Setup Google API for forms results"
Setup google api and provide settings and methods to devs

[2019-01-24 16:16] menschikov opened #241 "Send form results to Google Sheet"
As a WT team member responsible for leads I want all leads from website to get to my spreadsheet to fit our process of lead management

Business Benefits: we have google spreadsheet where we collect collaborators and followers info, we need new followers to be added there automatically when they apply on website

Get form results form JSON and send to Google sheet vie Google Sheets API

Requires #

[2019-01-25 00:56] #224 closed

[2019-01-25 13:59] PabloAlice commented on #217
I agree with this proposal.
Just one question about images:
Do we have different image (ie: fixed images, dynamic images, framework images (wt-ui)).
In that case, I would make some changes to this proposal. I don't like the entire path to the img file as
the img src path

[2019-01-25 16:46] #135 closed

[2019-01-27 14:20] #219 closed

[2019-01-28 05:05] PabloAlice commented on #112
Estimation: ~10 hs.

[2019-01-28 05:07] PabloAlice commented on #111
Estimation: ~5 hs.

[2019-01-28 05:09] PabloAlice commented on #124
Estimation: ~16hs

[2019-01-28 15:57] #132 closed

[2019-01-28 15:59] MatiasOS commented on #132
Closed  by #236

[2019-01-29 22:08] #200 closed

[2019-02-01 07:54] menschikov commented on #217
@PabloAlice @MatiasOS please read carefully and pay attention to all issues:

I checked Pablo's structure for refactoring and it's still uncompleted and some of things is unclear

**What was done by Pablo:**

- created /data folder (in root) with folder for each component with dynamic content (not all components have content e.g card)
- this is still almost empty folder, we have to move data of al

[2019-02-01 13:56] PabloAlice commented on #217
Relative paths as you want seems not possible.
Webpack can handle that via import statement.
Anyway you will always be structure dependent, even if you don't have change the image page like in your example, you will have to update the component import statement.
Anyway, I get your point, but I don't think it's possible.

Flow types are not logic related. I would keep it there.

I will check what h

[2019-02-01 14:21] MatiasOS commented on #217
What about an structure like this?
[code]

[2019-02-04 14:42] czervenka commented on #217
Comments from discussion with Alex: This is to separate code and content. Est. finished cca. Wednesday.

[2019-02-07 11:54] czervenka opened #251 "Documention - how to update HP"
As manager I want to be able to change a text on homepage if I have required privileges and basic technical skills.

**Exit criteria:**

- there is a documentation which describes how to update homepage
- anybody with basic technical skills and access rights can make simple changes on homepage (fix typoo, add a simple text)
- there is clear what rights and skills are required

[2019-02-07 12:04] czervenka commented on #251
this is a feature request arised on planning meeting with @kvakes and @martinbilek

[2019-02-07 12:52] menschikov commented on #251
Who was asking? This story is partially solved with Refactoring, depends what Basic Tech skills means

[2019-02-07 15:14] czervenka commented on #251
@martinbilek asked. Could you @menschikov please attach a link to the documentation? I'll ask @martinbilek to try it whether it works for him.

[2019-02-07 15:15] menschikov commented on #251
Yes, tomorrow, we need to release refactoring pr and I will update repo readme, it's easy

[2019-02-07 15:25] menschikov commented on #251
@czervenka , even when there will be manual, I'll be the one who makes decisions about content. I don't want someone change it without my review.

[2019-02-07 15:38] czervenka commented on #251
I added @martinbilek to verify whether he is able to update the site with help of existing documentation.

[2019-02-08 12:31] czervenka commented on #217
Hello, please what is current state of this issue? Is it finished or could you add an estimation?

[2019-02-08 12:42] czervenka opened #252 "Make Cookie & privacy statement clear"
The web page currently informs users that it is collecting (beside others) targeting, advertising and functional cookies and there is no opt-out option.

Do we really need such long and unspecific cookie policy? As to my knowledge, the page stores only Google Analytics and CloudFlare cookie. Couldn't we just write something like: "We are using Google Analytics to understand how our visitors use th

[2019-02-08 12:47] menschikov commented on #217
Completed

[2019-02-08 12:47] menschikov commented on #217
Completed

[2019-02-08 12:47] #217 closed

[2019-02-08 13:59] menschikov commented on #252
This is ok, there's no problem with it. We can be safe with current description. There's no proven benefits of changing the content of this block.

[2019-02-08 14:50] #252 closed

[2019-02-11 07:49] czervenka commented on #252
@menschikov I didn't mean for risk of EU law incompatibility, I meant for risk of our reputation in decentralized society. Most people doesn't care about their privacy, but leaders in crypto world more probably would do ... they hopefully do :)

[2019-02-11 08:07] menschikov commented on #252
@czervenka thanks, now understand your opinion)) But there's a common practice for landing pages with this notice. And today it is clear for most of mid-level internet users and especially for experienced ones (like crypto leaders). There's a risk of course but it's minimal, there's a common sense at the end, I don't think people  who interested in us will close the page because of that notice. I

[2019-02-11 12:45] menschikov opened #253 "SEO optimization"
review seo-related metrics and fix issues

[2019-02-11 13:17] czervenka commented on #111
I've cleared the estimate as the task description changed.

[2019-02-11 13:57] czervenka commented on #111
**Exit criteria**

- [ ] user should not leave the top domain of web page
- [ ] form should have similar design as the rest of web page
- [ ] the form should be simple and clean

[2019-02-11 14:27] czervenka commented on #241
Current solution sends responses to a separate google spreadsheet from where the manager manually copy it to the final spreadsheet. The subject of the story is to send results directly and automatically to the final spreadsheet (address on request to @menschikov )

[2019-02-11 15:06] czervenka commented on #251
from planning: @menschikov  is working on that

[2019-02-12 03:20] #241 closed

[2019-02-12 05:51] menschikov opened #256 "CTA buttons content"
As a Website Content Manager I want to have opportunity to edit all links for CTA buttons from one place to save time and risk of missing some button

Current Situation: there are several CTA buttons across the website and content of each button in located in the data file of this component. It's very inconvenient to loop through all components data looking for a button content

Exit Criteria:
one

[2019-02-12 06:19] #102 closed

[2019-02-14 09:53] czervenka opened #257 "Direct links to sections"
I would love to have a way to directly point to individual sections on homepage because I want to share them with friends and colleagues.

[2019-02-14 11:06] menschikov commented on #257
do you mean link like this https://windingtree.com/Foundation#About ?

[2019-02-14 11:07] menschikov opened #258 "Update content"
- remove Hahn Air and Hobo Hotel from roadmap
- add https://aracon.one/ to past events

[2019-02-14 11:34] #258 closed

[2019-02-15 07:20] czervenka commented on #257
I mean any title / sections. It is common (hopefully), that visitors going over our site likes some article or a section and wants to send link to that part to somebody else (over e-mail, chat, ...).

I came to that problem when I wanted to send link to video section and next day when I wanted to ask colleague to look at our road map. I had to send a link to whole website and instructions how to c

[2019-02-15 07:21] menschikov commented on #257
yes)

[2019-02-18 17:48] menschikov opened #265 "Fix link on roadman"
there's a broken link https://windingtree.com/mailto:alex.menschikov@windingtree.com in 2019 Design System and UI Framework need to wrap it

[2019-03-11 05:01] #265 closed

[2019-03-11 05:02] #257 closed

[2019-03-11 05:10] menschikov opened #268 "Refactor main page"
We need to refactor main page to split code and content. This requires refactoring of every component on main page.
**Current situation:** content of each component is split from code. But the when component is imported it's rendered always with same content which is stored in component data file. This make component inflexible if we want to show different content on different pages
**To do:** pas

[2019-03-11 09:21] menschikov opened #270 "Refactor Foundation page"
We need to refactor Foundation page to split code and content. This requires refactoring of every component on main page.
Current situation: content of each component is split from code. But the when component is imported it's rendered always with same content which is stored in component data file. This make component inflexible if we want to show different content on different pages
To do: pass

[2019-03-11 11:11] menschikov opened #271 "Refactor Sellers page"
We need to refactor Sellers page to split code and content. This requires refactoring of every component on main page.
**Current situation:** content of each component is split from code. But the when component is imported it's rendered always with same content which is stored in component data file. This make component inflexible if we want to show different content on different pages
**To do:**

[2019-03-11 13:08] #256 closed

[2019-03-11 14:14] czervenka commented on #257
Looks great, thanks @menschikov

[2019-03-13 13:56] JirkaChadima opened #273 "Broken images on lif-token subpage"
**Describe the bug**
Images are not shown

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://windingtree.com/lif-token

**Screenshots**
![Screenshot_2019-03-13_14-55-46](https://user-images.githubusercontent.com/375483/54284436-3521c400-45a0-11e9-8b87-41e26b964155.png)

[2019-03-13 15:17] menschikov commented on #273
@JirkaChadima this page was excluded from menu and we are removing it completely, that's why I updated react library - I edited the footer. We will not have this page until we can provide people clear idea why is it for and how we will use it

[2019-03-13 15:22] JirkaChadima commented on #273
OK, didn't know that. I've stumbled upon this link somewhere in the wild.

[2019-03-13 15:30] menschikov commented on #273
the only links to there were in footer, now there's no links and no lif page at all

[2019-03-13 15:30] #273 closed

[2019-03-13 15:30] #271 closed

[2019-03-13 15:31] #268 closed

[2019-03-13 15:31] #270 closed

[2019-03-13 15:43] JirkaChadima commented on #273
Not on the homepage itself - it was linked from some other page.

[2019-03-18 05:53] menschikov opened #277 "Refactor main menu"
split content and code

[2019-03-18 05:54] menschikov opened #278 "Refactor footer"
refactor footer in wt-ui-react, make content flexible

[2019-03-20 15:32] #278 closed

[2019-03-20 15:33] #277 closed

[2019-03-20 15:33] #251 closed

[2019-03-21 08:05] JirkaChadima opened #282 "Change now alias to the new API"
`now alias` is getting deprecated. We should swith to the new API

More information:
https://zeit.co/blog/automatic-aliasing?utm_source=newsletter&utm_medium=email&utm_campaign=automatic-aliasing

[2019-03-21 09:30] JirkaChadima commented on #282
This apparently applies only to now v2 (which we don't use yet)

[2019-09-03 04:33] #239 closed

[2019-09-03 04:34] #124 closed